<span class="md-inputfield">
    <p-autoComplete #p
                    id="period"
                    [formControl]="innerFormControl"
                    [suggestions]="periods"
                    [forceSelection]="true"
                    [emptyMessage]="'Tiada Rekod'"
                    (completeMethod)="search($event)"
                    field="code">
        <ng-template let-value pTemplate="item">
            <span>{{value?.code}} - {{value?.description}}</span>
        </ng-template>
    </p-autoComplete>
    <label for="period" [hidden]="hideFloatLabel">Tahun Kewangan</label>
</span>
