<div class="ui-g ui-fluid">
    <div class="ui-g-12">
        <div class="ui-g-12 card card-w-title">
            <h1>Maintenance Request Ref# {{ maintenanceRequestTask?.referenceNo}}</h1>
            <div class="ui-g-6 ui-g " [formGroup]="mainForm">
                <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label>Keterangan</label>
                    </div>
                    <div class="ui-g-8">
                    <span class="md-inputfield">
                        <input type="text"
                               formControlName="description"
                               pInputText>
                    </span>
                    </div>
                </div>
                <div class="ui-g-12">
                    <!--todo -->
                </div>
            </div>
            <div class="ui-g-6 ui-g " [formGroup]="mainForm">
                <!--todo-->
            </div>
        </div>
    </div>
</div>


<div class="ui-g-12 ui-fluid page-action">
    <div class="ui-g-1">
        <button
            type="button"
            [label]="'Deraf'"
            (click)="draft()"
            [disabled]="!mainForm.valid"
            icon="fa fa-save"
            pButton></button>
    </div>
</div>

<p-confirmDialog header="Pengesahan" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>
