<p-panel>

<div class="ui-g ui-fluid">
    <div class="ui-g-12">
            <!--<h1>Maintenance Request Ref# {{ maintenanceRequestTask?.referenceNo}}</h1>-->
            <h1>New Maintenance Request</h1>

            <div class="ui-g-6 ui-g " [formGroup]="mainForm">
                <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label>Remark</label>
                    </div>
                    <div class="ui-g-8">
                    <span class="md-inputfield">
                        <input type="text"
                               formControlName="remark"
                               pInputText>
                    </span>
                    </div>
                </div>

                <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label>Description</label>
                    </div>
                    <div class="ui-g-8">
                    <span class="md-inputfield">
                        <input type="text"
                               formControlName="description"
                               pInputText>
                    </span>
                    </div>
                </div>

                <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label>Requested Date</label>
                    </div>
                    <div class="ui-g-8">
                    <span class="md-inputfield">
                        <p-calendar disabled formControlName="requestedDate"></p-calendar>
                    </span>
                    </div>
                </div>

                <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label>Requester</label>
                    </div>
                    <div class="ui-g-8">
                    <span class="md-inputfield">
                        <dex-staff-autocomplete  label="Requester" [innerFormControl]="mainForm.get('requester')"></dex-staff-autocomplete>
                    </span>
                    </div>
                </div>

                <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label>Asset</label>
                    </div>
                    <div class="ui-g-8">
                    <span class="md-inputfield">
                        <dex-asset-autocomplete  [innerFormControl]="mainForm.get('asset')"></dex-asset-autocomplete>
                    </span>
                    </div>
                </div>

                <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label>Location</label>
                    </div>
                    <div class="ui-g-8">
                    <span class="md-inputfield">
                        <dex-location-autocomplete   [innerFormControl]="mainForm.get('location')"></dex-location-autocomplete>
                    </span>
                    </div>
                </div>

        <div class="ui-g-12">
            <div class="ui-g-3">
                <button pButton type="button"
                        label="Add"
                        (click)="draft()"
                        icon="pi pi-check"
                        class="ui-button-success"></button>
            </div>

            <div class="ui-g-3">
                <button pButton type="button"
                        (click)="goBack()"
                        label="Cancel"
                        icon="pi pi-times"
                        class="ui-button-danger"></button>
            </div>

                <div class="ui-g-12">
                    <!--todo -->
                </div>
            </div>
            <div class="ui-g-6 ui-g " [formGroup]="mainForm">
                <!--todo-->
            </div>
        </div>
    </div>
</div>


<!--<div class="ui-g-12 ui-fluid page-action">
    <div class="ui-g-1">
        <button
            type="button"
            [label]="'Draft'"
            (click)="draft()"
            [disabled]="!mainForm.valid"
            icon="fa fa-save"
            pButton></button>
    </div>
</div>-->

<!--<p-footer>-->
    <!--<button pButton type="button"  [disabled]="!creatorForm.valid" (click)="submit()" label="Add" icon="pi pi-check"-->
            <!--class="ui-button-success"></button>-->
    <!--<button pButton type="button" label="Cancel" icon="pi pi-times" class="ui-button-danger"></button>-->
<!--</p-footer>-->



<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>

</p-panel>
