<div class="ui-g ui-fluid">
    <div class="ui-g-12">
        <div class="ui-g-12 card card-w-title">
            <h1>Maintenance Request Ref# {{ maintenanceRequestTask?.referenceNo}}</h1>

            <div class="ui-g-6 ui-g " [formGroup]="mainForm">
                <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label>Remarks</label>
                    </div>
                    <div class="ui-g-8">
                    <span class="md-inputfield">
                        <input type="text"
                               formControlName="remark"
                               pInputText>
                    </span>
                    </div>
                </div>

                <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label>Description</label>
                    </div>
                    <div class="ui-g-8">
                    <span class="md-inputfield">
                        <input disabled readonly type="text"
                               formControlName="description"
                               pInputText>
                    </span>
                    </div>
                </div>

                <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label>Requested Date</label>
                    </div>
                    <div class="ui-g-8">
                    <span class="md-inputfield">
                        <p-calendar disabled formControlName="requestedDate"></p-calendar>
                    </span>
                    </div>
                </div>

                <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label>Requester</label>
                    </div>
                    <div class="ui-g-8">
                    <span class="md-inputfield">
                      <dex-staff-autocomplete label="Requester"
                                              [innerFormControl]="mainForm.get('requester')"></dex-staff-autocomplete>
                    </span>
                    </div>
                </div>

                <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label>Asset</label>
                    </div>
                    <div class="ui-g-8">
                    <span class="md-inputfield">
                        <dex-asset-autocomplete label="Asset"
                                                [innerFormControl]="mainForm.get('asset')"></dex-asset-autocomplete>
                    </span>
                    </div>
                </div>

                <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label>Location</label>
                    </div>
                    <div class="ui-g-8">
                    <span class="md-inputfield">
                       <dex-location-autocomplete
                           [innerFormControl]="mainForm.get('location')"></dex-location-autocomplete>
                    </span>
                    </div>
                </div>

                <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label>Assignee</label>
                    </div>
                    <div class="ui-g-8">
                    <span class="md-inputfield">
                        <dex-staff-autocomplete label="Assignee"
                                                [innerFormControl]="mainForm.get('delegator')"></dex-staff-autocomplete>
                    </span>
                    </div>
                </div>

                <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label>Supervisor</label>
                    </div>
                    <div class="ui-g-8">
                    <span class="md-inputfield">
                        <dex-staff-autocomplete label="Supervisor"
                                                [innerFormControl]="mainForm.get('verifier')"></dex-staff-autocomplete>
                    </span>
                    </div>
                </div>

                <div class="ui-g-12">
                    <!--todo -->
                </div>
            </div>
            <div class="ui-g-6 ui-g ">
                <img [src]="imageToShow" height="400" alt="Place image title"/>
            </div>
        </div>
    </div>
</div>

<div class="ui-g">
    <div class="ui-g-12">
        <p-tabView>
            <p-tabPanel header="Item">
                <div class="ui-g">
                    <div class="ui-g-12">
                        <div class="ui-button-toolbar-mb">
                        </div>

                        <pre>{{maintenanceRequestTask.request.file   |json}}</pre>
                        <!--<p-table [columns]="cols"-->
                        <!--[value]="maintenanceRequestTask?.maintenanceRequest"-->
                        <!--dataKey="id">-->
                        <!--<ng-template pTemplate="header" let-columns>-->
                        <!--<tr>-->
                        <!--<th style="width: 40%">Description</th>-->
                        <!--</tr>-->
                        <!--</ng-template>-->
                        <!--<ng-template pTemplate="body" let-rowData>-->
                        <!--<tr>-->
                        <!--<td>-->
                        <!--{{rowData?.description}}-->
                        <!--</td>-->
                        <!--</tr>-->
                        <!--</ng-template>-->
                        <!--</p-table>-->
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>

<div class="ui-g-12">
    <div class="ui-g-12 ui-md-3 ui-lg-2">
        <button
            type="button"
            [label]="'Approve'"
            (click)="approve()"
            [disabled]="!mainForm.valid"
            icon="fa fa-save"
            pButton></button>
    </div>
    <div class="ui-g-12 ui-md-3 ui-lg-2">
        <button
            type="button"
            [label]="'Update'"
            (click)="updateMaintenanceRequest()"
            [disabled]="!mainForm.valid"
            icon="fa fa-edit"
            pButton></button>
    </div>
    <div class="ui-g-12 ui-md-3 ui-lg-2">
        <button
            type="button"
            label="Delete"
            class="ui-button-danger"
            (click)="remove()"
            icon="fa fa-trash"
            pButton></button>
    </div>
</div>

<p-confirmDialog header="Pengesahan" icon="pi pi-exclamation-triangle"
                 width="425"></p-confirmDialog>


<!--<cng-about-dialog-->
<!--[flowData]="maintenanceRequestTask?.maintenanceRequest?.flowData"-->
<!--[displayAboutDialog]="displayAboutDialog"-->
<!--(onClose)="hideAboutDialog()">-->
<!--</cng-about-dialog>-->
