<p-sidebar styleClass="ui-sidebar-lg" [(visible)]="display" [fullScreen]="false" position="right">
    <dex-asset-code-detail-page [selectedRow]="selectedRow"></dex-asset-code-detail-page>
</p-sidebar>

<div class="ui-g">
    <div class="ui-g-12">
        <div class="card card-w-title">
            <div class="ui-g form-group">
                <h1>{{title}}</h1>
                <div class="ui-g-12">
                    <div class="ui-g-1">
                        <label for="keyword">Search</label>
                    </div>
                    <div class="ui-g-6">
                        <input [(ngModel)]="searchQuery" pInputText type="text" name="keyword" id="keyword">
                    </div>
                </div>
                <div class="ui-g-12 ui-button-toolbar-mr">
                    <button pButton type="button" label="Cari"
                            icon="fa fa-search"
                            (click)="search()"></button>
                </div>
            </div>
        </div>

        <p-toolbar>

            <div class="ui-toolbar-group-left">
                <h2>{{title}}</h2>
            </div>

            <div class="ui-toolbar-group-right">

                <div class="ui-inputgroup">
                    <input [(ngModel)]="searchQuery" placeholder="Keyword" style="border-left:0; color : white;" type="text"
                           class="ui-inputtext">
                    <button (click)="search()" pButton type="button" icon="pi pi-search"></button>
                    <button pButton class="ui-button-success" (click)="display = !display; selectedRow = undefined;" type="button" icon="pi pi-plus"></button>
                </div>

            </div>
        </p-toolbar>

        <div class="card card-w-title">
            <p-table #dt
                     [columns]="cols"
                     [value]="(assetCodes$ | async).data"
                     [selectionMode]="'single'">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th style="width: 20%">Product</th>
                        <th style="width: 80%">Manufacturer</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData>
                    <tr (click)="selectedRow = rowData; display = !display;" [pSelectableRow]="rowData">
                        <td>
                            {{rowData?.code}}
                        </td>
                        <td>
                            {{rowData?.description}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <p-paginator (onPageChange)="page($event)" [rows]="10" [totalRecords]="(assetCodes$ | async).totalSize"></p-paginator>

    </div>
</div>
