<span class="md-inputfield">
    <p-autoComplete #p
                    id="actor"
                    [formControl]="innerFormControl"
                    [suggestions]="actors"
                    [forceSelection]="true"
                    [dropdown]="true"
                    [emptyMessage]="'Tiada Rekod'"
                    (completeMethod)="search($event)"
                    field="name">
        <ng-template let-value pTemplate="item">
            <span>{{value?.name}} - {{value?.identityNo}}</span>
        </ng-template>
    </p-autoComplete>
    <!--<label for="actor" [hidden]="hideFloatLabel">{{label}}</label>-->
</span>
