<ng-container [formGroup]="creatorForm">


<h1>Add Asset</h1>
<p-panel>
    <p-header>
        Ref No.   {{selectedRow?.code}}
    </p-header>

    <div class="ui-g ui-fluid">
        <div class="ui-g-12">
            <div class="ui-g form-group">
                <div class="ui-g-12 ui-md-12">
                    <span class="md-inputfield">
                        <input [readOnly]="!edit" id="desc" type="text" pInputText
                               (click)="overlayPanel=!overlayPanel">
                        <label for="desc">Description</label>
                    </span>
                </div>

                <div class="ui-g-12 ui-md-12">
                    <span class="md-inputfield">
                        <input [readOnly]="!edit" id="astc" type="text" pInputText
                               (click)="overlayPanel=!overlayPanel">
                        <label for="astc">Asset Code</label>
                    </span>
                </div>

                <div class="ui-g-12 ui-md-12">
                    <span class="md-inputfield">
                        <input [readOnly]="!edit" id="loca" type="text" pInputText
                               (click)="overlayPanel=!overlayPanel">
                        <label for="loca">Location</label>

                    </span>
                </div>
            </div>
        </div>
    </div>

    <ngx-qrcode [qrc-element-type]="elementType" [qrc-value] = "qrValue"></ngx-qrcode>


    <p-footer>
        <button pButton type="button" label="Add" icon="pi pi-check" class="ui-button-success"></button>
        <button pButton type="button" label="Cancel" icon="pi pi-times" class="ui-button-danger"></button>
    </p-footer>
</p-panel>


</ng-container>



