<div class="ui-g ui-fluid">
    <div class="ui-g-6 ui-lg-6">
        <div class="card">
            <h1 class="centerText">Work Order Count</h1>
            <p-chart type="bar" [data]="barData"></p-chart>
        </div>
        <!--<div class="card">-->
            <!--<h1 class="centerText">Linear Chart</h1>-->
            <!--<p-chart type="line" [data]="lineData"></p-chart>-->
        <!--</div>-->
        <!--<div class="card">-->
            <!--<h1 class="centerText">Pie Chart</h1>-->
            <!--<p-chart type="pie" [data]="pieData"></p-chart>-->
        <!--</div>-->
<!---->
        <!--<div class="card">-->
            <!--<h1 class="centerText">Polar Area Chart</h1>-->
            <!--<p-chart type="polarArea" [data]="polarData"></p-chart>-->
        <!--</div>-->
    </div>
    <div class="ui-g-6 ui-lg-6">
        <div class="card">
            <h1 class="centerText">Time Spent</h1>
            <p-chart type="bar" [data]="timeData"></p-chart>
        </div>
        <!--<div class="card">-->
            <!--<h1 class="centerText">Bar Chart</h1>-->
            <!--<p-chart type="bar" [data]="workOrderWeeklyChartData"></p-chart>-->
        <!--</div>-->
    </div>
</div>
