<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <!-- Appenders -->
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %5p [%X{application}] [%t] (%F:%L) - %m%n"/>
        </layout>
    </appender>

    <appender name="FILE" class="org.apache.log4j.FileAppender">
        <param name="file" value="${catalina.home}/logs/spotit.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %5p [%t] (%F:%L) - %m%n"/>
        </layout>
    </appender>

    <logger name="org.springframework.boot.autoconfigure.jms">
        <level value="debug"/>
    </logger>

    <!-- Application Loggers -->
    <logger name="com.assettagging.spotit">
        <level value="debug"/>
    </logger>

    <!-- 3rdparty Loggers -->
    <logger name="org.springframework.core">
        <level value="error"/>
    </logger>

    <logger name="org.springframework.boot">
        <level value="debug"/>
    </logger>

    <logger name="org.springframework.beans">
        <level value="error"/>
    </logger>

    <logger name="org.springframework.context">
        <level value="error"/>
    </logger>

    <logger name="org.springframework.web">
        <level value="debug"/>
    </logger>

    <!-- Root Logger -->
    <root>
        <level value="ERROR"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</log4j:configuration>
