<div class="ui-g">
    <div class="ui-g-12">
        <div class="ui-g-12 card card-w-title">
            <h1>{{title}}</h1>
            <h4 class="ui-card-subtitle">{{subtitle}}</h4>
            <form [formGroup]="searchForm"
                  (keyup.enter)="search()">
                <div class="ui-g-6 ui-g ui-fluid">
                    <div class="ui-g-12">
                        <div class="ui-g-4">
                            <label for="searchTerm">Search</label>
                        </div>
                        <div class="ui-g-8">
                            <input pInputText
                                   type="text"
                                   name="searchTerm"
                                   id="searchTerm"
                                   formControlName="searchTerm">
                        </div>
                    </div>
                    <!--<div class="ui-g-12">-->
                        <!--<div class="ui-g-4">-->
                            <!--<label for="searchDate">To be done do Date</label>-->
                        <!--</div>-->
                        <!--<div class="ui-g-8">-->
                            <!--<p-calendar id="searchDate"-->
                                        <!--[showIcon]="true"-->
                                        <!--dateFormat="ddmmyy"-->
                                        <!--formControlName="searchDate"></p-calendar>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
                <div class="ui-g-12 ui-g ">
                    <div class="ui-button-toolbar-mr">
                        <button pButton type="button" label="Search"
                                icon="fa fa-search"
                                (click)="search()"></button>
                    </div>
                    <div class="ui-button-toolbar-mr">
                        <button pButton type="button" label="Reset"
                                icon="fa fa-undo"
                                (click)="resetSearchForm()"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="ui-g-12">
        <div class="card card-w-title">
            <p-table #dt
                     [columns]="cols"
                     [value]="maintenanceRequestRecords$ | async"
                     [selectionMode]="'single'"
                     (onRowSelect)="view($event)">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th style="width: 20%" [pSortableColumn]="'referenceNo'"> Reference No
                            <p-sortIcon [field]="'referenceNo'"
                                        ariaLabel="Activate to sort"
                                        ariaLabelDesc="Activate to sort in descending order"
                                        ariaLabelAsc="Activate to sort in ascending order">
                            </p-sortIcon>
                        </th>
                        <th style="width: 45%" [pSortableColumn]="'description'"> Description
                            <p-sortIcon [field]="'description'"
                                        ariaLabel="Activate to sort"
                                        ariaLabelDesc="Activate to sort in descending order"
                                        ariaLabelAsc="Activate to sort in ascending order">
                            </p-sortIcon>
                        </th>
                        <th style="width: 10%" [pSortableColumn]="'flowState'"> Status
                            <p-sortIcon [field]="'flowState'"
                                        ariaLabel="Activate to sort"
                                        ariaLabelDesc="Activate to sort in descending order"
                                        ariaLabelAsc="Activate to sort in ascending order">
                            </p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData>
                    <tr [pSelectableRow]="rowData">
                        <td>
                            {{rowData?.referenceNo}}
                        </td>
                        <td>
                            {{rowData?.description}}
                        </td>
                        <td>
                            {{rowData?.flowState}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>

</div>
