
{{maintenanceRequest.referenceNo}}
<div class="ui-g ui-fluid">
    <div class="ui-g-12">
        <div class="ui-g-12 card card-w-title">
            <h1>Maintenance Request Ref# {{ maintenanceRequest.referenceNo}}</h1>
            <div class="ui-g-12 ui-md-6 ui-lg-6" [formGroup]="mainForm">
                <div class="ui-g-12">
                    <div class="ui-g-12 ui-md-6 ui-lg-6">
                        <label>Description</label>
                    </div>
                    <div class="ui-g-12 ui-md-6 ui-lg-6">
                        <span>{{maintenanceRequest.description}}</span>
                    </div>
                </div>



                <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label>Remark</label>
                    </div>
                    <div class="ui-g-8">
                        <span>{{maintenanceRequest.remark}}</span>
                    </div>
                </div>

                <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label>Created On</label>
                    </div>
                    <div class="ui-g-8">
                        <span>{{maintenanceRequest.createdDate}}</span>
                    </div>
                </div>


                <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label>Delegator</label>
                    </div>
                    <div class="ui-g-8">
                        <span>{{maintenanceRequest.delegator?.name}}</span>
                    </div>
                </div>

                <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label>Requester</label>
                    </div>
                    <div class="ui-g-8">
                        <span>{{maintenanceRequest.requester?.name}}</span>
                    </div>
                </div>

                <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label>Asset Name</label>
                    </div>
                    <div class="ui-g-8">
                        <span>{{maintenanceRequest.asset?.description}}</span>
                    </div>
                </div>

                <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label>Location Name</label>
                    </div>
                    <div class="ui-g-8">
                        <span>{{maintenanceRequest.location?.name}}</span>
                    </div>
                </div>
            </div>

            <div class="ui-g-12 ui-md-6 ui-lg-6">
                <img [src]="imageToShow" height="400" alt="Place image title"/>
            </div>

        </div>
    </div>
</div>

<div class="ui-g">
    <div class="ui-g-12">
    </div>
</div>

<div class="ui-g-12 ui-fluid page-action">
    <div class="ui-g-1">
        <button
            type="button"
            label="Perihal"
            (click)="showAboutDialog()"
            icon="fa fa-flag"
            pButton></button>
    </div>
</div>

<!--<cng-about-dialog-->
    <!--[flowData]="workOrder?.flowData"-->
    <!--[displayAboutDialog]="displayAboutDialog"-->
    <!--(onClose)="hideDialog()">-->
<!--</cng-about-dialog>-->
