<div class="ui-g ui-fluid">
    <div class="ui-g-12">
        <div class="ui-g-12 card card-w-title">
            <h1>Work Order Ref# {{ workOrderTask?.referenceNo}}</h1>

            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label>Description</label>
                </div>
                <div class="ui-g-8">
                    <span>{{workOrder?.description}}</span>
                </div>
            </div>


                <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label>Asset</label>
                    </div>
                    <div class="ui-g-8">
                        <span>{{workOrder.asset?.description}}</span>
                    </div>
                </div>

                <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label>Location</label>
                    </div>
                    <div class="ui-g-8">
                        <span>{{workOrder.location?.name}}</span>
                    </div>
                </div>

                <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label>Assignee</label>
                    </div>
                    <div class="ui-g-8">
                        <span>{{workOrder.assignee?.name}}</span>
                    </div>
                </div>

                <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label>Reporter</label>
                    </div>
                    <div class="ui-g-8">
                        <span>{{workOrder.reporter?.name}}</span>
                    </div>
                </div>

                <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label>Status</label>
                    </div>
                    <div class="ui-g-8">
                        <span>{{workOrder.flowState | flowStatePipe}}</span>
                    </div>
                </div>



            </div>
            <div class="ui-g-6 ui-g" [formGroup]="mainForm">
                <!--todo-->
            </div>
            <!--<div class="ui-g-6 ui-g ">-->
                <!--<img [src]="imageToShow" height="400" alt="Place image title"/>-->
            <!--</div>-->
        </div>
    </div>

<div class="ui-g">
    <div class="ui-g-12">
        <p-tabView>
            <p-tabPanel header="Comment">
                <div class="ui-g">
                    <div class="ui-g-12">
                        <div class="ui-button-toolbar-mb">
                            <button pButton
                                    type="button"
                                    [label]="'Add Comment'"
                                    icon="fa fa-plus"
                                    (click)="addComment()">
                            </button>
                        </div>
                        <p-table
                            [value]="comments$ | async"
                            dataKey="id">
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th style="width: 40%">Body</th>
                                    <th style="width: 40%">Poster</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData>
                                <tr>
                                    <td>
                                        {{rowData?.body}}
                                    </td>
                                    <td>
                                        {{rowData?.poster?.name}}
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </p-tabPanel>

            <p-tabPanel header="Log">
                <div class="ui-g">
                    <div class="ui-g-12">
                        <div class="ui-button-toolbar-mb">
                            <button pButton
                                    style="margin-right: 10px"
                                    type="button"
                                    [label]="'Start Log'"
                                    icon="fa fa-plus"
                                    (click)="startLog()">
                            </button>
                            <button pButton
                                    type="button"
                                    [label]="'Stop Log'"
                                    icon="fa fa-plus"
                                    (click)="stopLog()">
                            </button>
                        </div>
                        <p-table
                            [value]="logs$ | async"
                            dataKey="id">
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th style="width: 40%">Start</th>
                                    <th style="width: 40%">Stop</th>
                                    <th style="width: 20%">Logger</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData>
                                <tr>
                                    <td>
                                        {{rowData?.startTime}}
                                    </td>
                                    <td>
                                        {{rowData?.stopTime}}
                                    </td>
                                    <td>
                                        {{rowData?.logger?.name}}
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </p-tabPanel>

            <p-tabPanel header="Activity">
                <div class="ui-g">
                    <div class="ui-g-12">
                        <div class="ui-button-toolbar-mb">
                        </div>
                        <p-table
                            [value]="activities$ | async"
                            dataKey="id">
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th style="width: 40%">Description</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData>
                                <tr>
                                    <td>
                                        {{rowData?.description}}
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>

<div class="ui-g-12">
    <div class="ui-g-12 ui-md-3 ui-lg-2">
        <button
            type="button"
            [label]="'Check'"
            (click)="check()"
            [disabled]="!mainForm.valid"
            icon="fa fa-save"
            pButton></button>
    </div>
    <div class="ui-g-12 ui-md-3 ui-lg-2">
        <button
            type="button"
            [label]="'Update'"
            (click)="updateWorkOrder()"
            [disabled]="!mainForm.valid"
            icon="fa fa-edit"
            pButton></button>
    </div>
    <div class="ui-g-12 ui-md-3 ui-lg-2">
        <button
            type="button"
            label="Delete"
            class="ui-button-danger"
            (click)="remove()"
            icon="fa fa-trash"
            pButton></button>
    </div>
</div>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"
                 width="425"></p-confirmDialog>

<dex-work-order-comment-editor-dialog
    [showDialog]="displayCommentDialog"
    (onSave)="onSaveComment($event)"
    (onClose)="hideCommentDialog()">
</dex-work-order-comment-editor-dialog>
