<p-panel>

<div class="ui-g ui-fluid">
    <div class="ui-g-12">

            <!--<h1>Work Order Refdfdsaf# {{ workOrderTask?.referenceNo}}</h1>-->
            <h1>New Work Order</h1>
            <div class="ui-g-6 ui-g " [formGroup]="mainForm">
                <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label>Remarks</label>
                    </div>
                    <div class="ui-g-8">
                    <span class="md-inputfield">
                        <input type="text"
                               formControlName="remarks"
                               pInputText>
                    </span>
                    </div>
                </div>

                <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label>Description</label>
                    </div>
                    <div class="ui-g-8">
                        <span class="md-inputfield">
                            <input type="text"
                                   formControlName="description"
                                   pInputText>
                        </span>
                    </div>
                </div>

                <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label>Requested Date</label>
                    </div>
                    <div class="ui-g-8">
                        <span class="md-inputfield">
                            <p-calendar disabled formControlName="requestedDate"></p-calendar>
                        </span>
                    </div>
                </div>

                <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label>Requester</label>
                    </div>
                    <div class="ui-g-8">
                        <span class="md-inputfield">
                            <dex-staff-autocomplete  label="Requester" [innerFormControl]="mainForm.get('requester')"></dex-staff-autocomplete>
                        </span>
                    </div>
                </div>

                <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label>Asset</label>
                    </div>
                    <div class="ui-g-8">
                        <span class="md-inputfield">
                            <dex-asset-autocomplete  [hideFloatLabel]="true" [innerFormControl]="mainForm.get('asset')"></dex-asset-autocomplete>
                        </span>
                    </div>
                </div>

                <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label>Location</label>
                    </div>
                    <div class="ui-g-8">
                        <span class="md-inputfield">
                            <dex-location-autocomplete   [innerFormControl]="mainForm.get('location')"></dex-location-autocomplete>
                        </span>
                    </div>
                </div>
            </div>

<div class="ui-g-12">
    <div class="ui-g-3">
        <button pButton type="button"
                label="Add"
                (click)="draft()"
                icon="pi pi-check"
                class="ui-button-success"></button>
    </div>

    <div class="ui-g-3">
        <button pButton type="button"
                (click)="goBack()"
                label="Cancel"
                icon="pi pi-times"
                class="ui-button-danger"></button>
    </div>
</div>

            <div class="ui-g-6 ui-g " [formGroup]="mainForm">
                <!--todo-->
            </div>

    </div>
</div>

<p-confirmDialog header="Pengesahan" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>

</p-panel>
