<div class="layout-footer ui-g-12">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-6 footer-left">
            <h3>California</h3>
            <p>Premium PrimeNG Application Template</p>
        </div>
        <div class="ui-g-12 ui-md-6 footer-right">
            <a href="#">
                <i class="fa fa-twitter"></i>
            </a>
            <a href="#">
                <i class="fa fa-facebook"></i>
            </a>
            <a href="#">
                <i class="fa fa-github"></i>
            </a>
        </div>
    </div>
</div>
