<span class="md-inputfield">
    <p-autoComplete #p
                    id="positionCode" [formControl]="innerFormControl"
                    [suggestions]="positionCodes"
                    [forceSelection]="true"
                    [emptyMessage]="'Tiada Rekod'"
                    (completeMethod)="search($event)"
                    field="code">
        <ng-template let-value pTemplate="item">
            <span>{{value?.code}} - {{value?.description}}</span>
        </ng-template>
    </p-autoComplete>
    <label for="positionCode" [hidden]="hideFloatLabel">Jawatan</label>
</span>
