<h1>Delegate Request</h1>
<p-panel>
    <p-header>
     Ref No.   {{selectedRow?.referenceNo}}
    </p-header>

    <div class="ui-g ui-fluid">
        <div class="ui-g-12">
            <div class="ui-g form-group">
                <div class="ui-g-12 ui-md-12">
                    <span class="md-inputfield">
                        <input [readOnly]="!edit" id="desc" type="text" pInputText (click)="overlayPanel=!overlayPanel">
                        <label for="desc">Description</label>
                    </span>
                </div>

                <div class="ui-g-12 ui-md-12">
                    <span class="md-inputfield">
                        <input [readOnly]="!edit" id="asset" type="text" pInputText (click)="overlayPanel=!overlayPanel">
                        <label for="asset">Asset</label>

                    </span>
                </div>


                <div class="ui-g-12 ui-md-12">
                    <span class="md-inputfield">
                        <input [readOnly]="!edit" id="location" type="text" pInputText
                               (click)="overlayPanel=!overlayPanel">
                        <label for="location">Location</label>
                    </span>
                </div>


                <div class="ui-g-12 ui-md-12">
                    <span class="md-inputfield">
                        <input [readOnly]="!edit" id="requested_date" type="text" pInputText
                               (click)="overlayPanel=!overlayPanel">
                        <label for="requested_date">Requested Date</label>

                    </span>
                </div>
            </div>
        </div>
    </div>

    <p-footer>
        <button pButton type="button" label="Delegate" icon="pi pi-check" class="ui-button-success"></button>
        <button pButton type="button" label="Decline" icon="pi pi-times" class="ui-button-danger"></button>
    </p-footer>
</p-panel>


