<span class="md-inputfield">
    <p-autoComplete #p
                    id="location"
                    [formControl]="innerFormControl"
                    [suggestions]="locations"
                    [forceSelection]="true"
                    [dropdown]="true"
                    [emptyMessage]="'Tiada Rekod'"
                    (completeMethod)="search($event)"
                    field="name">
        <ng-template let-value pTemplate="item">
            <span>{{value?.code}} - {{value?.name}}</span>
        </ng-template>
    </p-autoComplete>
    <!--<label for="location" [hidden]="hideFloatLabel">Location</label>-->
</span>
