<p-sidebar styleClass="ui-sidebar-lg" [(visible)]="display" [fullScreen]="false" position="right">
    <dex-location-detail-page [selectedRow]="selectedRow" (onSubmit)="dialogClosed($event)"></dex-location-detail-page>
</p-sidebar>

<div class="ui-g">
    <div class="ui-g-12">
        <div class="card card-w-title">
            <div class="ui-g form-group">
                <h1>{{title}}</h1>
                <div class="ui-g-12">
                    <div class="ui-g-1">
                        <label for="keyword">Search</label>
                    </div>
                    <div class="ui-g-6">
                        <input [(ngModel)]="searchQuery" pInputText type="text" name="keyword" id="keyword">
                    </div>
                </div>
                <div class="ui-g-12 ui-button-toolbar-mr">
                    <button pButton type="button" label="Cari"
                            icon="fa fa-search"
                            (click)="search()"></button>
                </div>
            </div>
        </div>


        <p-toolbar>

            <div class="ui-toolbar-group-left">
                <h2>{{title}}</h2>
            </div>

            <div class="ui-toolbar-group-right">

                <div class="ui-inputgroup">
                    <input [(ngModel)]="searchQuery" placeholder="Keyword" style="border-left:0; color : white;" type="text"
                           class="ui-inputtext">
                    <button (click)="search()" pButton type="button" icon="pi pi-search"></button>
                    <button pButton class="ui-button-success" (click)="display = !display; selectedRow = undefined;" type="button" icon="pi pi-plus"></button>
                    <button pButton class="ui-button-danger" (click)="displayDelete = !displayDelete;" type="button" icon="pi pi-trash" ></button>
                </div>

            </div>
        </p-toolbar>


        <div class="card card-w-title">
            <p-table #dt
                     [columns]="cols"
                     [value]="(locations$ | async).data"
                     [selectionMode]="'single'">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th style="width: 7%" *ngIf="displayDelete == true">DELETE</th>
                        <th style="width: 10%">Code</th>
                        <th style="width: 10%">Name</th>
                        <th style="width: 30%">Address</th>
                        <th style="width: 30%">Description</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData>
                    <tr (click)="selectedRow = rowData; display = !display;" [pSelectableRow]="rowData">
                        <td *ngIf="displayDelete == true" style="width: 7%">
                            <button pButton class="ui-button-danger" (click)="confirmDelete(rowData)" type="button"
                                    icon="pi pi-trash" style="font-size: 11px"></button>
                        </td>
                        <td [pSelectableRow]="rowData" (click)="selectedRow = rowData; display = !display;">
                            {{rowData?.code}}
                        </td>
                        <td [pSelectableRow]="rowData" (click)="selectedRow = rowData; display = !display;">
                            {{rowData?.name}}
                        </td>
                        <td [pSelectableRow]="rowData" (click)="selectedRow = rowData; display = !display;">
                            {{rowData?.address}}
                        </td>
                        <td [pSelectableRow]="rowData" (click)="selectedRow = rowData; display = !display;">
                            {{rowData?.description}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>

            <button pButton type="button" label="Cancel" class="ui-button-raised ui-button-secondary"
                    *ngIf="displayDelete == true"
                    (click)="cancelDelete()"></button>

            <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>

            <p-messages [value]="msgs"></p-messages>

        </div>
        <p-paginator (onPageChange)="page($event)" [rows]="10" [totalRecords]="(locations$ | async).totalSize"></p-paginator>
    </div>
</div>
