<div class="layout-wrapper" (click)="onLayoutClick()"
     [ngClass]="{'layout-wrapper-overlay-sidebar': isOverlay(),
                'layout-wrapper-overlay-sidebar-active': overlayMenuActive,
                'layout-wrapper-sidebar-inactive': staticMenuDesktopInactive,
                'layout-wrapper-sidebar-mobile-active': staticMenuMobileActive}">
    <app-topbar></app-topbar>

    <app-megamenu></app-megamenu>

    <div class="layout-sidebar" (click)="onMenuClick($event)"
         [ngClass]="{'layout-sidebar-dark': menuMode !== 'light',
         'layout-sidebar-gradient':  menuMode === 'gradient'}">
        <p-scrollPanel #layoutMenuScroller [style]="{height: '100%' }">
            <div class="sidebar-scroll-content">
                <app-inline-profile *ngIf="profileMode=='inline'"></app-inline-profile>
                <app-menu [reset]="resetMenu"></app-menu>
            </div>
        </p-scrollPanel>
    </div>

    <app-rightpanel></app-rightpanel>

    <div class="layout-main">
        <app-breadcrumb></app-breadcrumb>

        <div class="layout-main-content">
            <router-outlet></router-outlet>
        </div>

        <!--<app-footer></app-footer>-->
    </div>
</div>
