<div class="ui-g ui-fluid">
    <div class="ui-g-12">
        <div class="ui-g-12 card card-w-title">
            <h1>Work Order Ref# {{ workOrder?.referenceNo}}</h1>
            <div class="ui-g-6 ui-g" [formGroup]="mainForm">
                <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label>Description</label>
                    </div>
                    <div class="ui-g-8">
                        <span>{{mainForm.get('description')?.value}}</span>
                    </div>
                </div>
                 <!--todo-->
            </div>
            <div class="ui-g-6 ui-g" [formGroup]="mainForm">
                <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label>No Work Order#</label>
                    </div>
                    <div class="ui-g-8">
                        <span>{{mainForm.get('workOrderNo')?.value}}</span>
                    </div>
                </div>
                <!--todo-->
            </div>
        </div>
    </div>
</div>

<div class="ui-g">
    <div class="ui-g-12">
        <p-tabView>
            <p-tabPanel header="Item">
                <div class="ui-g">
                    <div class="ui-g-12">
                        <p-table [columns]="cols"
                                 [value]="activities$ | async"
                                 dataKey="id"
                                 [selectionMode]="'single'"
                                 (onRowSelect)="onRowSelect($event)"
                                 [(selection)]="selectedItem">
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th style="width: 40%">Keterangan</th>
                                    <th style="width: 20%">Vot</th>
                                    <th style="width: 20%">Jumlah</th>
                                    <th style="width: 20%">Baki Peruntukan</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData>
                                <tr [pSelectableRow]="rowData"
                                    [ngStyle]="{'font-weight': !rowData?.voteSufficient ? 'bold' :'', 'color': !rowData?.voteSufficient ?'red' :''}">
                                    <td>
                                        {{rowData?.description}}
                                    </td>
                                    <td>
                                        {{rowData?.vote?.code}}
                                    </td>
                                    <td style="text-align:right">
                                        {{rowData?.totalAmount | number:'1.2'}}
                                    </td>
                                    <td style="text-align:right">
                                        {{rowData?.shadowBalance | number:'1.2'}}
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="footer">
                                <tr style="text-align:right">
                                    <td colspan="2">Jumlah</td>
                                    <td>{{totalAmount| number:'1.2'}}</td>
                                    <td></td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Transaksi">
                <div class="ui-g">
                    <div class="ui-g-12">
                        <p-table [columns]="cols"
                                 [value]="transactions$ | async"
                                 dataKey="id">
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th style="width: 20%">Pusat Kos</th>
                                    <th style="width: 20%">Kod Akaun</th>
                                    <th style="width: 40%">Keterangan</th>
                                    <th style="width: 20%">Debit</th>
                                    <th style="width: 20%">Kredit</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData>
                                <tr [pSelectableRow]="rowData">
                                    <td>
                                        {{rowData?.costCenter?.code}}
                                    </td>
                                    <td>
                                        {{rowData?.accountCode?.code}}
                                    </td>
                                    <td>
                                        {{rowData?.accountCode?.description}}
                                    </td>
                                    <td style="text-align:right">
                                        {{rowData?.debit | number:'1.2'}}
                                    </td>
                                    <td style="text-align:right">
                                        {{rowData?.credit | number:'1.2'}}
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>

<div class="ui-g-12 ui-fluid page-action">
    <div class="ui-g-1">
        <button
            type="button"
            label="Perihal"
            (click)="showAboutDialog()"
            icon="fa fa-flag"
            pButton></button>
    </div>
</div>

<!--<cng-about-dialog-->
    <!--[flowData]="workOrder?.flowData"-->
    <!--[displayAboutDialog]="displayAboutDialog"-->
    <!--(onClose)="hideDialog()">-->
<!--</cng-about-dialog>-->
